[submodule ".registry"]
	path = .registry
	url = https://github.com/sdhutchins/sdhutchins.r-universe.dev
	branch = HEAD
[submodule "documenteR"]
	path = documenteR
	url = https://github.com/sdhutchins/documenteR
[submodule "harlem"]
	path = harlem
	url = https://github.com/sdhutchins/harlem
[submodule "pkgmkr"]
	path = pkgmkr
	url = https://github.com/sdhutchins/pkgmkr
[submodule "victortools"]
	path = victortools
	url = https://github.com/sdhutchins/victortools
